* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

.title {
  text-align: center;
  margin: 30px 0;
}

/* AUTH */
.auth-box {
  width: 350px;
  margin: auto;
  background: rgba(30,41,59,0.9);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.switch span {
  color: #38bdf8;
  cursor: pointer;
}

/* APP */
.app {
  width: 420px;
  margin: auto;
}

.hidden {
  display: none;
}

.upload-box {
  background: rgba(30,41,59,0.9);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.chat-box {
  background: rgba(30,41,59,0.9);
  padding: 10px;
  border-radius: 10px;
}

.message {
  padding: 8px 12px;
  margin: 6px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #2563eb;
  margin-left: auto;
}

.bot {
  background: #bbf7d0;
  color: black;
}

.input-area {
  display: flex;
  gap: 5px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
}